NODE_ENV=development

DATABASE_HOST=localhost
DATABASE_PORT=5832
DATABASE_NAME=cir_db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=cir-producer
KAFKA_TREASURY_EVENTS_TOPIC=treasury.capacity.events
