NODE_ENV=development

SERVICE_PORT=9000
SERVICE_HOST=0.0.0.0
API_TOKEN=local-dev-token

# database
DATABASE_HOST=cir.database
DATABASE_PORT=5432
DATABASE_NAME=cir_db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# postgres envs
POSTGRES_HOST=cir.database
POSTGRES_PORT=5432
POSTGRES_NAME=cir_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
